*{
	margin: 0;
	padding: 0;
}

body{
	background: rgb(120,120,110);
}

.container{
	width: 600px;
	height: 480px;
	position: relative;
}

.road{
	height: 40%;
	width: 40%;
	border: 4px dashed yellow;
	margin: 20px;
	float: left;
}

button{
	background-color: #BF5700;
	height: 40px;
	width: 100px;
	fontSize: 20px;
	margin-left: 240px;
	/*margin-right: 50%;*/
	
	/*position: absolute*/
}

.car{
	height: 5px;
	width: 15px;
	/*background-color: aqua;*/
	position: absolute;
	/*top: mathFloor(mathRandom()*400 + 40px;
	margin-left: 50px;
	style-left: 4px;*/
}