.walmartParkingLotOnPayday{
	height: 400px;
	width: 600px;
	background-color: gray;
	position: relative;
}

.Car{
	height: 20px;
	width: 40px;
	background-color: red;
	position: absolute;
	top: 10px;
}